
<div class="main">
  <div class="container user-form">
    <h2>ユーザーログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        
        <%= f.label :email, "メールアドレス"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :ユーザーネーム %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password ,"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me,"私を覚える" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログインする" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div> 
    <div class="testuser">
      <h5>テストログイン用ユーザー</h5>
      <p>メールアドレス: testuser@test.com</p>
      <p>ユーザーネーム: tsetuser</p>
      <p>パスワード: tsetuser</p>
    </div>
</div>
