<div class="themes-index main">
    <div class="t-container">
        <div class="post-link-block">
            <%= link_to new_theme_path,class: "post-link"  do %>
                <i class="fas fa-plus">お題作成</i>
            <% end %>
        </div>
    <hr>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">ギャラリー</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">ランキング</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="index">
                <% @themes.each do |t| %>
                    <div class="theme">
                        <div class="image-theme">
                            <% if t.image? %>
                                <%= image_tag t.image.url ,size: "250x200" ,class: "t_img"%>
                            <% else %>
                                <%= image_tag "oogiri.png" ,size: "250x200" ,class: "default_t_img"%>
                            <%end%>
                        </div>
                        <div class="theme-content"><p class="theme-font"><%= t.content %></p></div>
                        <div class="t-user_info">
                            <p><%= time_ago_in_words(t.created_at) %>前</p>
                            <p class= "user-font"><img src=<%= t.user.image.url %> class = "t-icon_image">
                            <%= link_to t.user.username, user_path(t.user.id) ,class: "user_link" %></p>
                        </div>
                        <!-- 追加 -->
                        <div class="good">
                            <% if user_signed_in? %>
                                <% if t.liked_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
                                    <%=link_to theme_likes_path(t.id) ,method: :delete do %>
                                        <i class="far fa-thumbs-up good-btn"></i><%= t.likes.count %>
                                    <% end %>
                                <% else %>
                                    <%=link_to theme_likes_path(t.id),method: :post do %>
                                        <i class="far fa-thumbs-up ungood-btn"></i><%= t.likes.count %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <p><span>お気に入り数: </span><%= t.likes.count %></p>
                            <% end %>
                        <!-- ここまで　-->
                        </div>
                    <hr>
                        <div class="link-form">
                            <div class="link">
                                <%= link_to "回答する",theme_path(t.id),class: "answer-btn"%>
                            </div>
                        </div>
                        <% if t.user == current_user %>
                                <%# <%= link_to "お題を編集する",edit_theme_path(t.id) %> 
                            <%= link_to theme_path(t.id) ,method: :delete, class: "d delete-btn" do %>
                                <i class="far fa-trash-alt">消去</i>
                            <% end %>
                        <% end %>
                    </div>
                    <hr>
                <% end %>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="ranking">
                <% lastLike = 0 %>
                <% j = 1 %>
                <% @all_ranks.each.with_index(1) do |theme, i| %>
                    <div class="theme">
                        <div class="image-theme">
                    <!--順位表示-->
                        <% if i == 1 %>
                            <% lastLike = theme.likes.count %>
                        <% end %>
                        <% if theme.likes.count != lastLike %>
                            <% j = i %>
                            <h3>第<%= j %>位</h3>
                            <% lastLike = theme.likes.count %>
                        <% else %>
                            <% lastLike = theme.likes.count %>
                            <h3>第<%= j %>位</h3>
                        <% end %>
                    <!--順位表示-->
                            <% if theme.image? %>
                                <%= image_tag theme.image.url ,size: "250x200" ,class: "t_img"%>
                            <% else %>
                                <%= image_tag "oogiri.png" ,size: "250x200" ,class: "default_t_img"%>
                            <%end%>
                        </div>
                        <div class="theme-content"><p class="theme-font"><%= theme.content %></p></div>
                        <div class="t-user_info">
                            <p><%= time_ago_in_words(theme.created_at) %>前</p>
                            <p class= "user-font"><img src=<%= theme.user.image.url %> class = "t-icon_image">
                            <%= link_to theme.user.username, user_path(theme.user.id) ,class: "user_link" %></p>
                        </div>
                        <div class="good">
                            <% if user_signed_in? %>
                                <i class="far fa-thumbs-up good-btn"></i><%= theme.likes.count %>
                            <% end %>
                        </div>
                    </div>
                    <hr>
                <% end%>
            </div>
        </div>
    </div>
            
        
    </div>
</div>